.idea
/docs/.retype
/ucumate-demo-impl
*.db

ucumate-core/target/
ucumate-core/.idea
ucumate-core/precise_decimal.md

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

/ucumate-core-exact-special-math/target
/ucumate-demo/target
/ucumate-demo/frontend/.idea
/ucumate-demo/frontend/.vscode
/ucumate-demo/frontend/node_modules
/ucumate-demo/frontend/dist
/ucumate-demo/.mvn
/ucumate-demo/mvnw
/ucumate-demo/mvnw.cmd

/ucumate-persistence/target
/ucumate-test-utils/target

ucumate-demo.tar
ucumate-demo.iml

benchmark*.csv
benchmark*.json
/benchmarks/target


### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

ucumate-mol-support/target
ucumate-spi-tests/target